# macOS
.DS_Store

# Docker
docker-compose.override.yml

# Environment variables
ml_server/.env
server/.env.development
server/.env.production

# ML Model
ml_server/color_prediction_model.h5

# Python virtual environments
venv/

# Temporary files
commands.txt
